/* Shared Style  */
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}
.web-width {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-margin {
  margin-top: 5rem;
}
.btn {
  padding: 10px 30px;
  background-color: #ffbd39;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  color: #000000;
  font-weight: 600;
}
.common-color {
  color: #ffbd39;
}

/* Header Style  */
.header ul > li {
  margin-right: 1.5rem;
}
.header ul > li > a {
  font-weight: 600;
}
.header-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-text h1 {
  font-size: 4rem;
  font-weight: 700;
}
.header-text > h4 {
  margin: 2rem 0;
  margin-top: 1.5rem;
}
.h-title {
  color: white;
}

/* Responsive Style  */
@media screen and (max-width: 576px) {
  .header-banner {
    flex-direction: column;
  }
  .header-profile > img {
    width: 100%;
    margin-top: 30px;
  }
  .section-margin {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .header-profile > img {
    width: 100%;
  }
}
